@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
.design-convert-result{font: normal 1.5em/100% 'Roboto Condensed', sans-serif;
	background-color: #e9ecee;
    padding:10px;
    border: 1px solid #adb8c0;
    text-align:center;
    text-shadow: 1px 1px 1px #fff;
   }
.design-convert-result>em{
	border-bottom:1px solid #10A6D9;
	font-style:normal; margin:2px;
	display:inline-block;
	color: #10A6D9;
	}
.design-convert {background-color:#fff; font: normal 13px/100% 'Roboto Condensed', sans-serif;}
.design-convert input[type="submit"]{ width:100%;}
.design-convert input[type="radio"] + label { text-shadow: 1px 1px 1px #fff; }
.design-convert input[type="radio"]:checked + label { font-weight:300;	}
.design-convert .form-item>label { text-transform:uppercase; margin:10px 0px;}
.design-convert .description { font-size:10px; color:#ccc;}

.design-convert .form-radios{
    background-color: #e9ecee;
    padding:0px 5px;
    border: 1px solid #adb8c0;
}

.design-convert input[type="text"]{
    padding: 9px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    background: #fff;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	border-radius: 5px;
}

.design-convert input[type="radio"]{
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}
.design-convert input[type="radio"]:active,
.design-convert input[type="radio"]:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.design-convert input[type="radio"]:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.design-convert input[type="radio"]:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #10A6D9;
}


